{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Soccer Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Streamlit Component" />
    <link rel="stylesheet" href="/SoccerTracker/static/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="{% static 'home/favicon.png' %}">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="streamlit-container" style="height:90vh; width:100%;">
            <!-- Need to update src to valid src when deployed, try streamlit community cloud -->
            <iframe src="http://localhost:8501" width="80%" height="80%" frameborder="0"></iframe>
        </div>  
    </div>
  </body>
</html>
{% endblock %}